* {
    box-sizing: border-box;
}

body {
/* viewport units: vh = viewport heigh, vw = viewport width, vmin = smallest between vh and vw */
height: 100vh;
margin: 0;
font-family: 'Montserrat', sans-serif;
align-items: center;
background-color: #247BA0;
}


div#app {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.avatar-pic {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    position: absolute; 
    bottom: 5px;
    right: 5px; 
}

.cover-image {
    height: auto;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid #70C1B3;
    gap: 10px;
    max-width: 20vmin;
    background-color: #B2DBBF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.author-info {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px; 
}