<!DOCTYPE html>
<html>
  <head>
    <title><%= 666 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= 666 %></h1>
    <p>Welcome to HELL <%= title %></p>
    <a href="/todos">To-Do List</a>
  </body>
</html>
