* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
#online-status {
  text-align: right;
  font-weight: lighter;
  font-size: 10px;
  color: grey;
  padding: 10px 10px 10px 10px; 
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: small;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
#name {
  text-align: center;
  display: flex;
  margin-top: 10px;
  flex-wrap: nowrap;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: row;
  padding-right: 50px;
}

#img1 {
  text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 50%;
    border: 3px solid rgb(65, 158, 65);
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}
 section {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 15px 0px ;
  justify-content: space-around;
}

body {
  margin: 10px;
  font-family: Helvetica;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
  background-color: rgb(8, 78, 69);
  
}

.card {
  background-color: white;
  width: 200px;
  height: 350px;
  

}

section .time #big-text {
  font-weight: bold;
  font-size: 20px;
}

blin{
  padding-top: 20px; ;
}






  //vertical 250
  //horizontal 500