* {
    font-family: 'Mada', sans-serif;
}

.banner {
    background-color: blanchedalmond;
    text-decoration: solid;
    font-size: large;
    text-align: center;
    padding: 5px;
    margin: 0;
    width: auto;

}

#app {
    display: flex;
    flex-wrap: wrap;
    background-color: palegoldenrod;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: paleturquoise;
    text-align: center;
    align-items: center;
    height: 400px;
    width: 200px;
    margin: 20px;
    border-radius: 20px;

}

.card {
    transition: .3s
}

.card:hover> :not(:hover) {
    opacity: .6;
}

.backing {
    border-radius: 50%;
    width: 60%;
    height: 20%;
    padding-top: 10px;


}


.title {
    font-weight: bold;
    font-size: 23px;
}


.body {
    font-size: 15px;
}

.date {}

.profile {
    border-radius: 20px;
    width: 40%;
    height: 40% justify-content: center;
}

.author {
    margin-bottom: 20px;
}


footer {
    padding-bottom: 10px;
}