* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #f9f4ef;
}

header {
    background-image: url("https://fastly.picsum.photos/id/250/1200/300.jpg?hmac=u1vjyjCyNHglA_34DoNK4ya8iGnmqpBaCdEfEQj2sH0");
    background-size: cover;
    height: 40vh;
    font-size: 1.2rem;
    color:#EADBC8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 200px;
}

header p{
    padding: 2px;
}

.gallery-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: #07152b;
}

main{
    display: flex;
    justify-content: center;
}
.picture-grid-container{
    display: flex;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    flex-wrap: wrap;
    width:75vw;
    grid-gap: 60px;
    margin: 0 auto;
}

    .picture-grid-container img{
        flex: 1;
        flex-basis: 10%;
    }

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    padding-right: 90px;
}

