@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr 50px;
    align-items: stretch;
    justify-items: stretch;
    width: 100%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(#e7f7ff, #066595);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('https://t4.ftcdn.net/jpg/05/49/86/39/360_F_549863991_6yPKI08MG7JiZX83tMHlhDtd6XLFAMce.jpg');
    background-size: cover;
    text-align: center;
    color: #ffffdf;
    padding: 0 10px 15px 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

main {
    background-color: #ffffff;
    padding: 20px 50px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #031428;
    text-align: center;
    color: white;
    font-style: italic;
}

div.gallery-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    // justify-items: stretch;
    // align-items: stretch;
    gap: 15px;

    img {
        flex-grow: 1;
        // flex-basis: 25%;
    }
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
}