// * {
//     color: red;
// }

// a{
//     color: gray;
//     text-decoration: none;
//     transition: all 0.5 ease;
// }

// p {
//     color: blue;
// }

// .text{
//     color: green;
// }

// #myP{
//     color: purple;
// }

// p.content {
//     color: orange;
// }

// p#myP.text{
//     color: black;
// }

// #container{
//     background-color: aqua;
//     padding: 20px;
// }

// .card{
//     //font properties
//     font-style: italic;

//     background-color: blue;
//     width: 100px;
//     height: 100px;
//     margin: 5px;
// }

// #container>.card{
//     background-color: orange;
// }
:root {
    font-size: 18px;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// *{
//     box-sizing: border-box;
//     // border: 1px solid red;
// }

// body{
//     margin: 0;
//     font-family: Helvetica;
//     height: 100vh;
//     display: grid;
//     grid-template-columns: 1fr 4fr;
//     grid-template-rows: 50px 1fr 30px;
//     grid-gap: 5px;
// }

// nav{
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     align-items: center;
//     height: 50px;
//     background-color: #a2cbb6;
// }

// nav > div{
//     font-size: 20px;
//     margin: 10px;
//     color: #f3dba8;
// }

// nav > div:last-child{
//     margin-left: auto;
// }

// .flex-ctr{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// aside{
//     background-color: #a2b4da;
// }

// main{
//     background-color: #f3dba8;
// }

// footer{
//     background-color: #a2cbb6;
// }

// nav, footer{
//     grid-column: 1 /3;
// }