.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
  }

  .flex-ctr-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }