.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .textClass {
    color: darkblue;
    font-weight: bold;
    font-size: large;
    padding-top: 2vh;
  }
  
  .dataClass {
    border: 0.5vh solid white;
    width: auto;
    height: auto;
    background-color: white;
    align-self: center;
  }
  