.MovieDetailPage {
    display: flex;
    margin: 3vmin;
    justify-content: space-evenly;
}

.MovieDetailPage .poster {
    width: 45%;
    box-shadow: 3px 3px 6px #0a0003;
}

.MovieDetailPage .info {
    background-color: bisque;
    padding: 3vmin;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 3vmin;
    opacity: 0.8;
    width: 45%;
    border-radius: 3vmin;
    box-shadow: 3px 3px 6px #0a0003;
}

.MovieDetailPage h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 7vmin;
}

.MovieDetailPage h2 {
    font-weight: 100;
    font-size: 3.5vmin;
    margin-bottom: 6vmin;
}

.MovieDetailPage ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin-top: 3vmin;
    gap: 2vmin;
}

.MovieDetailPage li {
    list-style: none;
    background-color: #b04cab;
    padding: 2vmin;
    width: 20vmin;
    height: 10vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vmin;
    font-weight: 700;
    flex-grow: 1;
    border-radius: 1vmin;
    color: white;
}