.container {
    display: flex;
    height: 500px;
    width: 350px;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    background-image: url(https://wallpaperaccess.com/full/1490237.jpg);
    background-size: cover;
}

h1 {
    margin-bottom: 80px;
    color:white;
}

#playBtn {
    justify-content: space-around;
    padding: 30px
}

#pauseBtn {
    justify-content: space-around;
    padding: 30px
}

#stopBtn {
    justify-content: space-around;
    padding: 30px
}


