body {
    background-color: #f6a192;    
}

.main {
    padding: 25px;
    /* background-color: #f6d992; */
    display: flex;
    justify-content: center;
}

.iphone {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 250px;
    height: 500px;
    border: lightgray solid 2px;
    border-radius: 25px;
}

.screen {
    margin: 0 auto;
    width: 80%;
    height: 75%;
    background-color: #f6c492;
}
.nowplaying {
    margin: 25px auto;
    height: 50%;
    width: 80%;
    background-color:#f6d992;
    }
.player {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* .screenlayout {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
} */
.homebtn {
    margin: 0 auto;
    border: lightgray solid 2px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
