h1 {
  text-align: center;
  background-color: #ffffff79;
  font-size: 5.5vmin;
}


#card-container {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto 20px; 
  grid-auto-rows: minmax(30vh, auto); 
  background-color: #ffffff79;
}

/* Card styles */
.card {
  background-color: #ffffff79;
  border: 1px solid #dddddd54;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

/* Title styles */
.card h2 {
  font-size: 3.5vmin;
  color: #333;
  margin-bottom: 10px;
}

/* Body styles */
.card p {
  font-size: 1.5vmin;
  color: #777;
}

/* Category styles */
.card h3 {
  font-size: 2vmin;
  color: #333;
  margin: 0 0 40px 0;
}

/* Card image styles */
.card img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin: 20px 0 20px;
}

/* Author avatar styles */
.card img.author-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-bottom: 0;
}

/* Author name styles */
.card p.author-name {
  font-size: 1.5vmin;
  color: #333;
  text-align: right; 
  margin: 0 0 0 60px;
}