<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXPRESS LAB</title>
</head>
<body>
    <h1>STUDENTS</h1>
   <ul>
    <% students.forEach(function(student) { %>
        <li><%= student.student %></li>
    <% }); %>
   </ul>
      
</body>
</html>