h1 {
    text-align: center;
    font-size: 50px;
}

body {
    background-color: lightpink;

}
#app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    margin: 20px auto; 
    align-content: space-between;

}
hhello
.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.book:hover {
    transform: scale(1.1);
}

img {
    max-width: 100%;
}

.authorImg{
    width: 100px;
    border-radius: 50%;
}

