
#app {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    background-color: rgb(16, 16, 16);
  }
  
  .card {
    width: 200px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(202, 154, 96);
    color: rgb(2, 2, 2);
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border-radius: 10px;
    border: 2px solid black; 
  }
  
  #img,
  #avatar {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    border-radius: 50%; 
    border: 2px solid rgb(0, 0, 0);
  }

h1{
    font-size: 25px; 
    margin: 0;
    padding: 10px 0;
    text-align:center;
    background-color: rgb(226, 190, 145);

}